.FileListContainer {
    flex-grow: 1;
    overflow: auto;
}

.FileList {
    list-style: none;
    padding-inline-start: 0;
    margin: 10px 20px;
}

.FileList li {
    text-align: left;
}

.active {
    color: #000000;
    background: #165d13;
}

.inactive {
    text-decoration: line-through;
    color: #797979;
}