th, td {
    white-space: nowrap;
    text-align: left;
}

th {
    min-width: 10px;
}

.date {
    font-family: monospace;
    font-size: 16px;
}

.tag {
    display: inline-block;
    padding: 0px 8px;
    margin: 0px 4px;
    border-radius: 12px;
    color: #000;
    font-weight: bold;
    text-align: center;
}

table.LogDisplay {
    border-collapse: collapse;
    table-layout: auto;
}