td.red {
    color: #c52323;
    background: none;
}

td.blue {
    color: #2121c4;
    background: none;
}

td.green {
    color: #23c023;
    background: none;
}

td.purple {
    color: #933ddc;
    background: none;
}

td {
    white-space: nowrap;
}

table.LogDisplay {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}