th, td {
    white-space: nowrap;
    text-align: left;
}

th {
    min-width: 10px;
}

.date {
    font-family: monospace;
    font-size: 16px;
}

.tag {
    text-align: center;
}

table.LogDisplay {
    border-collapse: collapse;
    table-layout: auto;
}