.App {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas: "sidebar content rightbar";
}

.FileInputPanel {
    grid-area: sidebar;
    position: relative;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.LogDisplayPanel {
    grid-area: content;
    position: relative;
    height: calc(100vh - 85px);
    overflow: auto;
}

.ErrorListPanel {
    grid-area: rightbar;
    position: relative;
    height: calc(100vh - 85px);
    overflow: auto;
    text-align: center;

    display: flex;
    flex-direction: column;
}

.red {
    color: #a41010;
    background: none;
}

.blue {
    color: #1616a8;
    background: none;
}

.green {
    color: #008c00;
    background: none;
}

.defaultColor {
    color: #5a1396;
    background: none;
}